.pn{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #eb7f64;
    color: white;
}

.pn:hover{
    background-color: #eb4e27;
    border: 1px solid rgb(233, 37, 37);
    color: white;
}

.npc{
    max-width: 500px;
    margin: auto;
}