.s-cont{
    text-align: center;
    margin: 20px;
}

.s-item{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 5px gray;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.s-item:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
}