.right{
    display: inline;
    display: flex;
    float: right;
}

.hm{
    cursor: pointer;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.navbg{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #D85A3B;
    box-shadow: 2px 2px 10px gray;
}